<h2>Publier une annonce d'emploi salarié</h2>
<div class="row">
    <div class="col-12">
        <%= simple_form_for offer, url: employments_path, html: { class: "js-EmploymentOfferForm" } do |f| %>

            <%= f.error_notification %>

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="far fa-newspaper"></i> Votre annonce</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">
                    <%= f.input :title %>

                    <% if current_user.user_type == "health_facility_recruiter" %>
                        <%= f.input :profession, collection: {"" => ""}.merge(PROFESSIONS), input_html: { class: "js-select2Searchable", data: { placeholder: "Selectionner une profession" } }, label_method: :second, value_method: :first, required: true %>
                    <% end %>
                    
                    <%= f.input :contract_type, as: :radio_buttons, collection: Employment.contract_types.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>
                    
                    <%= f.input :working_time, as: :radio_buttons, collection: Offer.working_times.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <%= f.input :description, as: :text, input_html: { class: "js-autoResizeTextarea"} %>
                </div>

            </div>

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-map-marker-alt"></i> Localisation</legend>
                    <hr>
                </div>

                <% if current_user.facility.same_address? %>

                    <div class="col-xs-12 col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-8">

                        <p>
                            Conformément à vos préférences, votre annonce apparaitra au <b><%= current_user.facility.street %></b> à <b><%= current_user.facility.city %></b>.
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+48A9A6(#{current_user.facility.longitude},#{current_user.facility.latitude})/#{current_user.facility.longitude},#{current_user.facility.latitude},14/600x450@2x?access_token=#{ENV['MAPBOX_API_KEY']}", class: "img-fluid img-thumbnail mb-2" %>
                            </div>
                        </div>

                    </div>

                <% else %>

                    <div class="col-xs-12 col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-8">

                        <div class="mb-3">
                            <%= f.input :street, input_html: { class: "js-streetInput" }, wrapper_html: { class: "mb-0" }, error: false %>
                            <%= f.error :street, class: "invalid-feedback d-block" %>
                        </div>

                        <%= f.input :additional_address %>

                        <%= f.input :department, collection: [""]+DEPARTMENTS, input_html: { class: "js-select2Searchable js-departmentInput", data: { placeholder: "Selectionner un département" } } %>
                        <div class="row form-row">
                            <div class="col-12 col-md-3">
                                <%= f.input :zipcode, input_html: { class: "js-zipcodeInput" } %>
                            </div>
                            <div class="col-12 col-md-9">
                                <%= f.input :city, input_html: { class: "js-cityInput" } %>
                            </div>
                        </div>
                    </div>

                <% end %>

            </div>
            
            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-wallet"></i> Rémunération</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">

                    <%= f.input :has_salary_set, hint: true, input_html: { class: "js-hasSalarySetBool" }, wrapper: :custom_boolean_switch, item_wrapper_class: 'custom-control custom-radio' %>

                    <div class="row">
                        <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                            <%= f.input :salary, hint: true, input_html: { class: "js-salaryField" }, wrapper: :input_group, append: "€", wrapper_html: { class: "js-salaryFieldWrapper" }, required: true %>
                        </div>
                        <div class="col-12 col-sm-6col-md-7 col-lg-8 col-xl-9">
                            <%= f.input :salary_period, hint: true, as: :radio_buttons, collection: Employment.salary_periods.symbolize_keys.keys, input_html: { class: "js-salaryPeriodField" }, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', wrapper_html: { class: "js-salaryPeriodFieldWrapper" }, required: true %>
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-user-md"></i> Candidat</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">

                    <%= f.input :candidate_job_experience, as: :radio_buttons, collection: Employment.candidate_job_experiences.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <%= f.input :candidate_description, as: :text, input_html: { class: "js-autoResizeTextarea"} %>

                </div>

            </div>

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-certificate"></i> Formule</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">

                    <fieldset class="form-group radio_buttons required employment_offer_type">
                        <input type="hidden" name="employment[offer_type]" value="">
                        <label for="employment_offer_type_standard" class="radio-btn-card mb-2">
                            <input type="radio" name="employment[offer_type]" value="standard" id="employment_offer_type_standard" class="card-input-element d-none required">
                            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                                <div>
                                    <div class="radio-btn-card-title">Annonce standard</div>
                                    <div class="radio-btn-card-price">24.99€</div>
                                </div>
                                <div>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                        </label>
                        <label for="employment_offer_type_premium" class="radio-btn-card">
                            <input type="radio" name="employment[offer_type]" value="premium" id="employment_offer_type_premium" class="card-input-element d-none required">
                            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                                <div>
                                    <div class="radio-btn-card-title">Annonce premium</div>
                                    <div class="radio-btn-card-price">49.99€</div>
                                </div>
                                <div>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                        </label>
                        <%= f.error :offer_type, class: "invalid-feedback d-block" %>
                    </fieldset>

                </div>

            </div>

            <div class="form-actions d-none d-lg-flex justify-content-end">
                <%= f.button :submit, "Publier mon annonce", :class => "btn btn-primary" %>
            </div>

            <div class="form-actions d-block d-lg-none">
                <%= f.button :submit, "Publier mon annonce", :class => "btn btn-primary btn-block" %>
            </div>

        <% end %>
    </div>

</div>