<h2>Publier une annonce d'emploi salarié</h2>
<div class="row">
    <div class="col-12">
        <%= simple_form_for offer, url: employments_path, html: { class: "js-EmploymentOfferForm" } do |f| %>

            <%= f.error_notification %>

            <%= render 'partials/offers_forms/offer_block', f: f %>

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-file-contract"></i> Contrat de travail</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">

                    <%= f.input :contract_type, as: :radio_buttons, collection: Employment.contract_types.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <%= f.input :working_time, as: :radio_buttons, collection: Offer.working_times.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <%= f.input :has_salary_set, hint: true, input_html: { class: "js-hasSalarySetBool" }, wrapper: :custom_boolean_switch, item_wrapper_class: 'custom-control custom-radio' %>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <%= f.input :salary, hint: true, input_html: { class: "js-salaryField" }, wrapper: :input_group, append: "€", wrapper_html: { class: "js-salaryFieldWrapper" }, required: true %>
                        </div>
                        <div class="col-12 col-md-6">
                            <%= f.input :salary_period, hint: true, as: :radio_buttons, collection: Employment.salary_periods.symbolize_keys.keys, input_html: { class: "js-salaryPeriodField" }, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', wrapper_html: { class: "js-salaryPeriodFieldWrapper" }, required: true %>
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-user-md"></i> Candidat</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">

                    <%= f.input :candidate_job_experience, as: :radio_buttons, collection: Employment.candidate_job_experiences.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <%= f.input :candidate_description, as: :text, input_html: { class: "js-autoResizeTextarea"} %>

                </div>

            </div>

            <%= render 'partials/offers_forms/address_block', f: f %>

            <%= render 'partials/offers_forms/offer_type_block', f: f, offer_type_label: "employment" %>

            <%= render 'partials/offers_forms/create_offer_buttons', f: f, action_label: "Publier mon annonce" %>

        <% end %>
    </div>

</div>