<h2>Publier une annonce de remplacement libéral</h2>
<div class="row">
    <div class="col-12">
        <%= simple_form_for offer, url: replacements_path, html: { class: "js-replacementsOfferForm" } do |f| %>

            <%= f.error_notification %>

            <%= render 'partials/offers_forms/offer_block', f: f %>

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-file-contract"></i> Contrat de remplacement</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-md-8">

                    <%= f.input :contract_type, as: :radio_buttons, collection: Replacement.contract_types.symbolize_keys.keys, input_html: { class: "js-contractTypeRadio" }, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <div class="row form-row">
                        <div class="col-xs-12 col-md-6">
                            <%= f.input :starts_at, as: :date, html5: true, required: true %>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <%= f.input :ends_at, as: :date, html5: true, input_html: { class: "js-endsAtField" }, wrapper_html: { class: "js-endsAtFieldWrapper" }, required: true %>
                        </div>
                    </div>

                    <%= f.input :working_time, as: :radio_buttons, collection: Offer.working_times.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', required: true %>

                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <%= f.input :retrocession, wrapper: :input_group, append: "%", required: true %>
                        </div>
                    </div>

                </div>

            </div>

            <%= render 'partials/offers_forms/additional_information_block', f: f %>

            <%= render 'partials/offers_forms/address_block', f: f %>

            <%= render 'partials/offers_forms/offer_type_block', f: f, offer_type_label: "replacement" %>

            <%= render 'partials/offers_forms/create_offer_buttons', f: f, action_label: "Publier mon annonce" %>

        <% end %>
    </div>

</div>