<div class="container my-5">
  <div class="row">
    <div class="col-xs-12 col-lg-6 offset-lg-3">
      <h2>Créer un compte</h2>
      <hr>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <fieldset class="custom-fieldset">
            <legend class="custom-legend"><i class="fas fa-at"></i> Identifiants</legend>
            <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          </fieldset>
          <fieldset class="custom-fieldset">
            <legend class="custom-legend"><i class="far fa-id-card"></i> Informations personnelles</legend>
            <%= f.input :title, as: :radio_buttons, collection: [['0', 'Monsieur'], ['1', 'Madame']], label_method: :second, value_method: :first %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <%= f.input :first_name %>
              </div>
              <div class="col-xs-12 col-md-6">
              <%= f.input :last_name %>
              </div>
            </div>
            <%= f.input :personnal_phone_number %>
          </fieldset>
          <fieldset class="custom-fieldset">
            <legend class="custom-legend"><i class="fas fa-user-md"></i> Informations professionnelles</legend>
            <%= f.input :profession, collection: User.professions, input_html: { class: "custom-select" }  %>
            <%= f.input :account_type, collection: User.account_types, input_html: { class: "custom-select" }  %>
          </fieldset>
          <fieldset class="custom-fieldset">
            <legend class="custom-legend">Termes et conditions</legend>
          </fieldset>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Créer mon compte", :class => "btn btn-primary btn-block btn-lg" %>
        </div>

      <% end %>
    </div>

  </div>
</div>
