<div class="js-facilityUserEditMenu">

    <nav class="navbar navbar-expand-xl navbar-light bg-white d-block d-xl-none my-3 p-0">
      <button class="btn btn-light btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav p-2">
          <li class="nav-item js-profileMenuMinCredentialsBtn active">
            <div class="nav-link">Mes identifiants</div>
          </li>
          <li class="nav-item js-profileMenuMinPersonalInformationsBtn">
            <div class="nav-link">Mes informations personnelles</div>
          </li>
          <li class="nav-item js-profileMenuMinManageAccountBtn">
            <div class="nav-link">Gérer mon compte</div>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="my-4 d-none d-xl-block">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <div class="nav-link btn btn-link js-profileMenuMaxCredentialsBtn active">Mes identifiants</div>
        </li>
        <li class="nav-item">
          <div class="nav-link btn btn-link js-profileMenuMaxPersonalInformationsBtn">Mes informations personnelles</div>
        </li>
        <li class="nav-item">
          <div class="nav-link btn btn-link js-profileMenuMaxManageAccountBtn">Gérer mon compte</div>
        </li>
      </ul>

  </div>

  <div class="row">

    <div class="col-12 js-profileCredentialsDiv">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

          <div class="row">

              <div class="col-12">
                  <legend class="h5"><i class="fas fa-at"></i> Mes identifiants</legend>
                  <hr>
              </div>

              <div class="col-xs-12 col-lg-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>

              <div class="col-xs-12 col-lg-8">

                  <%= f.input :email, autofocus: true, required: true %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>

                  <%= f.input :password, hint: true, required: false, input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation, hint: true, required: false, input_html: { autocomplete: "new-password" } %>
              </div>

          </div>

          <div class="form-actions d-none d-lg-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCredentialsModal">
              Modifier vos informations
            </button>
          </div>

          <div class="form-actions d-block d-lg-none">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editCredentialsModal">
              Modifier vos informations
            </button>
          </div>


          <!-- Modal -->
          <div class="modal fade" id="editCredentialsModal" tabindex="-1" role="dialog" aria-labelledby="editCredentialsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editCredentialsModalLabel">Validez vos modifications</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Pour des raisons de sécurité, veuillez renseigner votre mot de passe actuel pour valider vos modifications.</p>
                  <%= f.input :current_password, input_html: { autocomplete: "current-password" }, required: true %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <%= f.button :submit, "Valider", :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>

      <% end %>

    </div>

    <div class="col-12 js-profilePersonalInformationsDiv d-none">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

          <div class="row">

              <div class="col-12">
                  <legend class="h5"><i class="far fa-id-card"></i> Mes informations personnelles</legend>
                  <hr>
              </div>

            <div class="col-xs-12 col-lg-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

              <div class="col-xs-12 col-lg-8">

                <% if resource.avatar.attached? %>
                  <label class="file optional">Avatar</label>
                  <div class="mb-3">
                    <%= cl_image_tag resource.avatar.key, height: 72, width: 72, crop: :thumb, gravity: :face, class: "avatar-big mr-3" %>
                    <%= f.check_box :remove_avatar %>
                    <label class="file optional" for="user_remove_avatar">Supprimer votre avatar ?</label>
                  </div>
                <% else %>
                  <%= f.input :avatar, as: :file %>
                <% end %>

                <%= f.input :title, as: :radio_buttons, collection: User.titles.symbolize_keys.keys %>

                <div class="row form-row">
                    <div class="col-xs-12 col-md-6">
                        <%= f.input :first_name %>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <%= f.input :last_name %>
                    </div>
                </div>
                <%= f.input :birth_date, as: :date, html5: true %>

                <%= f.input :phone_number %>


              </div>

          </div>

          <div class="form-actions d-none d-lg-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPersonalInformationsModal">
              Modifier vos informations
            </button>
          </div>

          <div class="form-actions d-block d-lg-none">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editPersonalInformationsModal">
              Modifier vos informations
            </button>
          </div>


          <!-- Modal -->
          <div class="modal fade" id="editPersonalInformationsModal" tabindex="-1" role="dialog" aria-labelledby="editPersonalInformationsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editPersonalInformationsModalLabel">Validez vos modifications</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Pour des raisons de sécurité, veuillez renseigner votre mot de passe actuel pour valider vos modifications.</p>
                  <%= f.input :current_password, input_html: { autocomplete: "current-password" }, required: true %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <%= f.button :submit, "Valider", :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>

      <% end %>

    </div>

    <div class="col-12 js-profileManageAccountDiv d-none">

      <div class="row">

        <div class="col-12">

            <div class="h5"><i class="fas fa-user-slash"></i> Vous ne désirez plus utiliser nos services ?</div>
            <hr>
            <p>Cette action est irréversible, votre compte sera supprimé du site, toutes vos données seront également définitivement supprimées ainsi que vos éventuelles annonces, postulations, CV dynamique, etc.</p>
            
            <div class="form-actions d-none d-lg-flex justify-content-end">
              <%= link_to "Supprimer mon compte", registration_path(current_user), data: { confirm: "Etes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible" }, method: :delete, :class => "btn btn-danger" %>
            </div>

            <div class="form-actions d-block d-lg-none">
              <%= link_to "Supprimer mon compte", registration_path(current_user), data: { confirm: "Etes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible" }, method: :delete, :class => "btn btn-danger btn-block" %>
            </div>

        </div>

      </div>
    
    </div>

  </div>