<%= simple_form_for offer, as: :establishment, url: account_offer_path, html: { class: "js-establishmentOfferForm" } do |f| %>

    <%= f.error_notification %>

    <%= render 'partials/offers_forms/offer_block', f: f %>

    <div class="row mt-4">

        <div class="col-12">
            <legend class="h5"><i class="far fa-hospital"></i> Informations sur le local</legend>
            <hr>
        </div>

        <div class="col-xs-12 col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <div class="col-xs-12 col-md-8">

            <div class="row form-row">
                <div class="col-xs-12 col-md-6">
                    <%= f.input :profession, collection: PROFESSIONS, input_html: { class: "js-select2Searchable", data: { placeholder: "Selectionner une profession" } }, required: true %>
                </div>
            </div>

            <%= render 'partials/offers_forms/premises_information_block', f: f %>

        </div>

    </div>

    <%= render 'partials/offers_forms/address_block', f: f %>

    <%= render 'partials/offers_forms/create_offer_buttons', f: f, action_label: "Modifier mon annonce" %>

<% end %>