<%= simple_form_for offer, as: :patient_transfer, url: account_offer_path, html: { class: "js-patientTransferOfferForm" } do |f| %>

    <%= f.error_notification %>

    <%= render 'offers/forms/partials/offer_block', f: f %>

    <div class="row mt-4">

        <div class="col-12">
            <legend class="h5"><i class="fas fa-user-injured"></i></i> Informations sur la patientèle</legend>
            <hr>
        </div>

            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="col-xs-12 col-md-8">

                <%= f.input :has_selling_price_set, hint: true, input_html: { class: "js-hasSellingPriceSetBool" }, wrapper: :custom_boolean_switch, item_wrapper_class: 'custom-control custom-radio' %>

                <div class="row form-row">
                    <div class="col-xs-12 col-md-6">
                        <%= f.input :selling_price, wrapper: :input_group, append: "€", input_html: { class: "js-sellingPriceField" }, wrapper_html: { class: "js-sellingPriceWrapper" }, required: true %>
                    </div>
                </div>
                
                <div class="row form-row">
                    <div class="col-xs-12 col-md-6">
                        <%= f.input :revenues, wrapper: :input_group, append: "€ / an", required: true %>
                    </div>
                </div>

            </div>

    </div>

    <div class="row mt-4">

        <div class="col-12">
            <legend class="h5"><i class="far fa-hospital"></i> Informations sur le local</legend>
            <hr>
        </div>

        <div class="col-xs-12 col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <div class="col-xs-12 col-md-8">

            <%= f.input :premises_availability, as: :radio_buttons, collection: PatientTransfer.premises_availabilities.symbolize_keys.keys, wrapper: :custom_collection, item_wrapper_class: 'custom-control custom-radio', input_html: { class: "js-premisesAvailabilityRadio" }, required: true %>

            <%= render 'offers/forms/partials/premises_information_block', f: f %>

        </div>

    </div>

    <%= render 'offers/forms/partials/address_block', f: f %>

    <%= render 'offers/forms/partials/create_offer_buttons', f: f, action_label: "Modifier mon annonce" %>

<% end %>