<div class="container my-5">
    <h2>Créer mon établissement</h2>

    <div class="row">
        <div class="col-12">
            <%= simple_form_for @facility, url: account_facilities_path do |f| %>
                <%= f.error_notification %>

                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="far fa-hospital"></i> Informations</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-lg-4">
                        <p>Ces informations apparaitront sur vos annonces. Afin de rendre ces dernières les plus attractives possible, nous vous conseillons de décrire au mieux votre établissement.</p>
                    </div>

                    <div class="col-xs-12 col-lg-8">
                        <%= f.input :name, required: true %>
                        <%= f.input :category, collection: FACILITY_CATEGORIES, input_html: { class: "js-select2Searchable", data: { placeholder: "Selectionner une catégorie d'établissement" } }, required: true %>
                        <%= f.input :description, as: :text, input_html: { class: "js-autoResizeTextarea"}, required: true %>
                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="fas fa-map-marker-alt"></i> Localisation</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-lg-4">
                        <p>Les informations de localisation de votre établissement permettront de pré-remplir la localisation de vos annonces et de les géolocaliser sur la carte.</p>
                    </div>

                    <div class="col-xs-12 col-lg-8">

                        <%= f.input :street, input_html: { class: "js-streetInput" }, required: true %>
                        <%= f.input :additional_address %>
                        <%= f.input :department, collection: [""]+DEPARTMENTS, input_html: { class: "js-select2Searchable js-departmentInput", data: { placeholder: "Selectionner un département" } }, required: true %>

                        <div class="form-row">
                            <div class="col-xs-12 col-md-3">
                            <%= f.input :zipcode, input_html: { class: "js-zipcodeInput" }, required: true %>
                            </div>
                            <div class="col-xs-12 col-md-9">
                            <%= f.input :city, input_html: { class: "js-cityInput" }, required: true %>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="far fa-images"></i> Photos de l'établissement</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-lg-4">
                        <p>
                            Vous pouvez illustrer vos annonces en ajoutant jusqu'à trois photos de votre établissement. Privilégiez le format 4/3 pour ces dernières afin qu'elles soient affichées correctement.
                        </p>
                    </div>

                    <div class="col-xs-12 col-lg-8">
                        <%= f.input :photos, as: :file, hint: true, input_html: { multiple: true } %>
                        <% if @facility.photos.attached? %>
                            <div class="row text-center text-lg-left">
                                <% @facility.photos.each_with_index do |photo, index| %>
                                    <% if photo.id? %>
                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="mb-4 d-inline-block position-inherit">
                                                <%= f.hidden_field :photos, multiple: true, value: photo.signed_id %>
                                                <%= cl_image_tag photo.key, width: 300, class: "img-fluid img-thumbnail", alt: ["first photo", "second photo", "third photo"][index], quality: "auto", fetch_format: "auto", transformation: [ {aspect_ratio: "4:3", crop: "fill"}, {width: "auto", dpr: "auto", crop: "scale"}] %>
                                                <%= link_to delete_facility_attachment_path(attachment_id: photo.id), method: :delete, class: "btn btn-light btn-circle btn-circle-tr", data: { confirm: 'Are you sure?' } do %>
                                                    <i class="fas fa-times"></i>
                                                <% end %>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>

                </div>
                
                <div class="form-actions d-none d-lg-flex justify-content-end">
                    <%= f.button :submit, "Créer mon établissement", :class => "btn btn-primary" %>
                </div>

                <div class="form-actions d-block d-lg-none">
                    <%= f.button :submit, "Créer mon établissement", :class => "btn btn-primary btn-block" %>
                </div>

            <% end %>
        </div>
    </div>
</div>