<div class="custom-card hoverable my-3" data-toggle="modal" data-target="#modalApplication_<%= application.id %>">
    <div class="d-flex justify-content-start align-items-center">
        <% if application.user.profile.avatar.attached? %>
            <%= cl_image_tag application.user.profile.avatar.key, height: 250, width: 250, crop: :thumb, gravity: :face, class: "avatar mr-3" %>
        <% elsif application.user.profile.madam? %>
            <%= image_tag "avatars/doctor_f", class: "avatar mr-3" %>
        <% else %>
            <%= image_tag "avatars/doctor_m", class: "avatar mr-3" %>
        <% end %>
        <div class="d-flex flex-wrap justify-content-between align-items-start w-100">
            <div>
                <span class="fw600">
                    <%= application.user.profile.first_name %> <%= application.user.profile.last_name %>
                </span>
                <div class="small text-secondary">
                    <i class="far fa-clock"></i> Candidature reçue <span class="js-sinceDuration"><%= application.created_at.strftime("%FT%T") %></span>
                </div>
            </div>
            <% if application.sent? %>
                <span class="badge badge-warning-alt mt-1">
                    En attente
                </span>
            <% elsif application.accepted? %>
                <span class="badge badge-valid-alt mt-1">
                    Acceptée
                </span>
            <% elsif application.rejected? %>
                <span class="badge badge-danger-alt mt-1">
                    Rejetée
                </span>
            <% end %>
        </div>
    </div>

    <hr>
    <p class="text-secondary mb-0"><%= application.application_text.first(250) %> ...</p>
</div>