<div class="container my-5">
    <% if OFFERS["offer_types"][@offer.contract_type] == "Assistanat libéral" %>
    <h1 class="h2 mb-4">Candidature(s) pour votre offre d'<%= OFFERS["offer_types"][@offer.contract_type].downcase %></h1>
    <% else %>
    <h1 class="h2 mb-4">Candidature(s) pour votre offre de <%= OFFERS["offer_types"][@offer.contract_type].downcase %></h1>
    <% end %>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <%= link_to "Mes annonces", account_offers_path %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Candidature(s)</li>
        </ol>
    </nav>

    <% if !@offer_applications.empty? %>
        <% @offer_applications.each do |application| %>
            <%= render 'account/offer_applications/application_card', application: application %>
            <%= render 'account/offer_applications/application_modal', application: application %>
        <% end %>
    <% else %>
        <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center my-4 p-4">
                <%= image_tag("illustrations/empty_illustration.svg", class: "empty-illustration", alt: "Illustration contenu vide") %>
            </div>
        </div>
    <% end %>
</div>