<%= image_tag("backgrounds/landing_blob.svg", class: "landing-blob d-none d-xl-block", alt: "Landing image") %>
<div class="container my-5">

    <div class="row align-items-center">
        <div class="col-xs-12 col-xl-6">
            <div class="px-3 px-sm-0 mt-3 mt-xl-0">
                <h1 class="display-5 mb-3">Vos recrutements médicaux et paramédicaux en un instant !</h1>
                <p class="lead text-secondary mb-4">Que vous soyez un praticien installé proposant un poste ou un candidat en recherche d'une opportunité, Mediswap vous permet de trouver ce que vous cherchez en toute simplicité !</p>
                <%= simple_form_for :q, url: offers_path, method: :get, wrapper: :inline_form, html: { class: "col-xl-12 px-0 js-landingSearchBar" } do |f| %>
                <div class="form-row">
                    <div class="col-md-6 px-0 pr-md-1">
                        <%= f.input :profession, collection: [""]+PROFESSIONS, input_html: { name: "profession", class: "js-select2Searchable", data: { placeholder: "Profession" } } %>
                    </div>
                    <div class="col-md-6 mt-2 px-0 mt-md-0 pl-md-1">
                        <%= f.input :location, input_html: { class: "js-autoCitySearch form-control shadow", name: "location", placeholder: "Ville" } %>
                    </div>
                </div>
                <div class="form-row align-items-center mt-3">
                    <div class="col-12 col-md-3 px-0 pr-md-2">
                        <%= f.button :submit, "Rechercher", name: nil, class: "btn btn-primary btn-block" %>
                    </div>
                    <div class="col-12 col-md-9 mt-3 mt-md-0 text-center text-md-left">
                        <div class="text-secondary">Vous êtes installé ? <%= link_to 'Publiez une annonce', new_offer_path %></div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-xl-6 order-first order-xl-last">
            <div class="px-3 px-xl-0 text-center">
                <%= image_tag("landing.svg", class: "main-landing-illustration", size: "auto", alt: "Landing image") %>
            </div>
        </div>
    </div>

    <div class="landing-block">
        <div class="text-center block-title">Mediswap</div>
        <h2 class="display-6 text-center mt-2">En quelques chiffres</h2>
        <div class="row justify-content-center mt-4">
                <div class="col-12 col-sm-5 col-lg-4">
                    <div class="p-4 counter-card shadow">
                        <div class="h1 text-primary"><%= @offer_count %></div>
                        <div class="text-uppercase text-secondary">Annonces en ligne</div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 col-lg-4 mt-3 mt-sm-0">
                    <div class="p-4 counter-card shadow">
                        <div class="h1 text-primary"><%= @user_count %></div>
                        <div class="text-uppercase text-secondary">Utilisateurs inscrits</div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 col-lg-4 mt-3 mt-sm-4 mt-lg-0">
                    <div class="p-4 counter-card shadow">
                        <div class="h1 text-primary"><%= PROFESSIONS.count %></div>
                        <div class="text-uppercase text-secondary">Professions représentées</div>
                    </div>
                </div>
        </div>
    </div>

    <div class="landing-block">
        <div class="text-center block-title">Offres</div>
        <h2 class="display-6 text-center mt-2">Découvrez les dernières offres mises en avant</h2>
        <div class="row mt-4">
            <% @offers.each do |offer| %>
                <div class="col-12 col-md-6 d-flex">
                    <%= render 'partials/offers_cards/offer_card', offer: offer %>
                </div>
            <% end %>
        </div>
    </div>

    <div id="candidates"></div>

    <div class="landing-block">
        <div class="row align-items-center mt-3">
            <div class="col-12 col-xl-6 order-last order-xl-first px-5 mt-3 mt-xl-0 text-center">
                <%= image_tag("illustrations/homepage_candidate_illustration.svg", class: "img-fluid landing-illustration", alt: "Candidate illustration") %>
            </div>
            <div class="col-12 col-xl-6 px-4">
                <div class="text-center block-title">Candidats</div>
                <h2 class="display-6 mt-2">Ne laissez plus filer l'opportunité désirée</h2>
                <p class="text-secondary">Optimisez vos recherches et gérez efficacement et simplement vos candidatures.</p>
                <ul class="fa-ul">
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Des notifications pour chaque nouvelles annonces postées répondant à vos critères de recherche</li>
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Une vision en temps réel de l'état de vos candidatures</li>
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Un historique dynamique de vos expériences</li>
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Un outil de recherche précis et facile d’utilisation</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="recruiters"></div>

    <div class="landing-block">
        <div class="row align-items-center mt-3">
            <div class="col-12 col-xl-6 px-4">
                <div class="text-center block-title">Praticiens installés</div>
                <h2 class="display-6 mt-2">Trouvez le candidat idéal en un rien de temps</h2>
                <p class="text-secondary">Facilitez votre recrutement et libérez-vous du temps pour les choses qui comptent.</p>
                <ul class="fa-ul">
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Vérification des candidats via numéro RPPS ou ADELI</li>
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Gestion en temps réel des candidatures</li>
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Toutes les informations dont vous avez besoin pour évaluer la pertinence d'une candidature</li>
                    <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Générateur de contrats, signature électronique et envoi automatique à l'ordre pour validation*</li>
                </ul>
            </div>
            <div class="col-12 col-xl-6 px-5 mt-3 mt-xl-0 text-center">
                <%= image_tag("illustrations/homepage_recruiter_illustration.svg", class: "img-fluid landing-illustration", alt: "Candidate illustration") %>
            </div>
        </div>
    </div>

    <div id="prices"></div>

    <div class="landing-block">
        <div class="px-4">
            <div class="text-center block-title">Tarifs</div>
            <h2 class="display-6 text-center mt-2">Une offre adaptée à vos besoin</h2>
            <p class="lead text-center text-secondary">Mediswap vous propose une offre claire, sans frais cachés ni formules compliquées.</p>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-center mt-4">
            <div class="price-card shadow mx-3">
                <div class="price-card-header">
                    <div class="block-title">Annonce Standard</div>
                    <div class="price-card-price">Gratuite</div>
                    <p class="text-secondary mb-0">Si vous n'êtes pas pressé et que vous n'avez pas de besoins urgents.</p>
                </div>
                <div class="price-card-body">
                    <ul class="fa-ul">
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>En ligne pendant 2 mois</li>
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>3 photos de votre établissement</li>
                    </ul>
                </div>
            </div>
            <div class="price-card shadow mx-3 mt-3 mt-md-0">
                <div class="price-card-header">
                    <div class="block-title">Annonce Premium</div>
                    <div class="price-card-price">49.99€</div>
                    <p class="text-secondary mb-0">Si vous souhaitez trouver quelqu'un au plus vite et maximiser vos chances.</p>
                </div>
                <div class="price-card-body">
                    <ul class="fa-ul">
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Avantages de l'annonce standard</li>
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Habillage distinct et badge premium</li>
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Remontée en tête de liste toutes les semaines</li>
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Mise en avant sur la page d'accueil lors de sa publication</li>
                        <li class="my-2"><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Mise en avant dans les autres annonces semblables</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>