<div class="container my-4">
    <% if current_user.facility.valid? %>
    <h2>Publier une annonce</h2>
    <div class="d-flex flex-column mt-4">
        <%= link_to new_replacement_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon-wrapper d-none d-md-flex">
                    <%= image_tag("icons/replacement.svg", alt: "Icone de remplacement") %>
                </div>
                <div>
                    <h3 class="h5">Remplacement libéral</h3>
                    <p>Selectionnez ce type d'annonce si vous souhaitez vous faire remplacer de manière ponctuelle ou régulière.</p>
                </div>
            </div>
        <% end %>
        <%= link_to new_employment_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon-wrapper d-none d-md-flex">
                    <%= image_tag("icons/recruitment.svg", alt: "Icone de recrutement en salariat") %>
                </div>
                <div>
                    <h3 class="h5">Emploi salarié</h3>
                    <% if current_user.user_type == "health_professional" %>
                        <p>Selectionnez ce type d'annonce si vous souhaitez recruter quelqu'un en CDD ou en CDI.</p>
                    <% elsif current_user.user_type == "health_facility_recruiter" %>
                        <p>Selectionnez ce type d'annonce si vous souhaitez recruter quelqu'un en CDD, en CDI ou via un type de contrat spécifique à la fonction publique hospitalière.</p>
                    <% end %>
                </div>
            </div>
        <% end %>
        <%= link_to new_collaboration_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon-wrapper d-none d-md-flex">
                    <%= image_tag("icons/collaboration.svg", alt: "Icone de collaboration") %>
                </div>
                <div>
                    <h3 class="h5">Collaboration ou Assistanat</h3>
                    <p>Selectionnez ce type d'annonce si vous souhaitez collaborer avec un autre professionnel de santé.</p>
                </div>
            </div>
        <% end %>
        <%= link_to new_patient_transfer_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon-wrapper d-none d-md-flex">
                    <%= image_tag("icons/patient_transfer.svg", alt: "Icone de cession de patientèle") %>
                </div>
                <div>
                    <h3 class="h5">Cession de patientèle</h3>
                    <p>Selectionnez ce type d'annonce si vous souhaitez céder votre patientèle.</p>
                </div>
            </div>
        <% end %>
        <%= link_to new_establishment_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon-wrapper d-none d-md-flex">
                    <%= image_tag("icons/health_facility.svg", alt: "Icone d'établissement de santé") %>
                </div>
                <div>
                    <h3 class="h5">Local pour installation</h3>
                    <p>Selectionnez ce type d'annonce si vous avez un local à proposer à un professionnel de santé pour une installation.</p>
                </div>
            </div>
        <% end %>
    </div>
    <% else %>
        <div class="mt-5 d-flex flex-column align-items-center">
            <div class="h2 text-center">Oups ... Vous n'avez pas encore complété les informations de votre établissement</div>
            <div class="lead text-center">Afin de pouvoir poster une annonce, vous devez compléter les informations sur votre établissement (croyez-nous, cela vous fera gagner du temps par la suite)</div>
            <%= image_tag("illustrations/health_facility_illustration.svg", class: "health-facility-missed-background-illustration d-none d-md-block", alt: "Illustration établissement de santé manquant") %>
            <%= link_to "Compléter les informations de mon établissement", edit_account_facility_path(current_user.facility.id), class: "mt-3 btn btn-lg btn-primary" %>
        </div>
    <% end %>
</div>