<div class="container my-4">
    <h2>Publier une annonce</h2>
    <div class="d-flex flex-column mt-4">
        <%= link_to new_replacement_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon d-none d-md-block">
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div>
                    <h3 class="h5">Remplacement libéral</h3>
                    <p>Selectionnez ce type d'annonce si vous souhaitez vous faire remplacer de manière ponctuelle ou régulière.</p>
                </div>
            </div>
        <% end %>
        <%= link_to new_employment_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon d-none d-md-block">
                    <i class="fas fa-file-contract"></i>
                </div>
                <div>
                    <h3 class="h5">Emploi salarié</h3>
                    <% if current_user.user_type == "health_professional" %>
                        <p>Selectionnez ce type d'annonce si vous souhaitez recruter quelqu'un en CDD ou en CDI.</p>
                    <% elsif current_user.user_type == "health_facility_recruiter" %>
                        <p>Selectionnez ce type d'annonce si vous souhaitez recruter quelqu'un en CDD, en CDI ou via un type de contrat spécifique à la fonction publique hospitalière.</p>
                    <% end %>
                </div>
            </div>
        <% end %>
        <%= link_to new_collaboration_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon d-none d-md-block">
                    <i class="fas fa-user-plus"></i>
                </div>
                <div>
                    <h3 class="h5">Collaboration ou Assistanat</h3>
                    <p>Selectionnez ce type d'annonce si vous souhaitez collaborer avec un autre professionnel de santé.</p>
                </div>
            </div>
        <% end %>
        <%= link_to new_patient_transfer_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="new-offer-link-card-icon d-none d-md-block">
                    <i class="far fa-handshake"></i>
                </div>
                <div>
                    <h3 class="h5">Cession de patientèle</h3>
                    <p>Selectionnez ce type d'annonce si vous souhaitez céder votre patientèle.</p>
                </div>
            </div>
        <% end %>
        <%= link_to new_establishment_path, class: "new-offer-link-card my-2" do %>
            <div class="d-flex align-items-center">
                <div class="icon-div d-none d-md-flex">
                    <%= image_tag("icons/health_facility.svg", class: "img-fluid", alt: "Icone d'établissement de santé") %>
                </div>
                <div>
                    <h3 class="h5">Local pour installation</h3>
                    <p>Selectionnez ce type d'annonce si vous avez un local à proposer à un professionnel de santé pour une installation.</p>
                </div>
            </div>
        <% end %>
    </div>
</div>