<div class="container my-5">

  <h1 class="h2">Mon profil</h1>

  <div class="row">

    <%= simple_form_for @profile, url: account_profile_path(@profile) do |f| %>
    <%= f.error_notification %>

        <div class="col-12">

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="far fa-id-card"></i> Mes informations personnelles</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-lg-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-lg-8">

                    <% if @profile.avatar.attached? %>
                    <label class="file optional">Avatar</label>
                    <div class="mb-3">
                        <%= cl_image_tag @profile.avatar.key, height: 72, width: 72, crop: :thumb, gravity: :face, class: "avatar-big mr-3" %>
                        <%= f.check_box :remove_avatar %>
                        <label class="file optional" for="profile_remove_avatar">Supprimer votre avatar ?</label>
                    </div>
                    <% else %>
                    <%= f.input :avatar, as: :file %>
                    <% end %>

                    <%= f.input :title, as: :radio_buttons, collection: Profile.titles.symbolize_keys.keys %>

                    <div class="row form-row">
                        <div class="col-xs-12 col-md-6">
                            <%= f.input :first_name %>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <%= f.input :last_name %>
                        </div>
                    </div>

                    <%= f.input :birth_date, as: :date, html5: true %>

                    <%= f.input :phone_number %>


                </div>

            </div>

        </div>

        <div class="col-12">

            <div class="row mt-4">

                <div class="col-12">
                    <legend class="h5"><i class="fas fa-user-md"></i> Mes informations professionnelles</legend>
                    <hr>
                </div>

                <div class="col-xs-12 col-lg-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="col-xs-12 col-lg-8">

                    <%= f.input :profession, collection: PROFESSIONS, input_html: { class: "js-select2Searchable", data: { placeholder: "Selectionner une profession "} }, required: true, disabled: true %>

                    <%= f.input :professional_id_number %>

                    <div class="form-row">

                        <div class="col-xs-12 col-md-6">
                        <%= f.input :council_id_number %>
                        </div>

                        <div class="col-xs-12 col-md-6">
                        <%= f.input :council_department %>
                        </div>
                        
                    </div>

                </div>

            </div>

        </div>
        
        <div class="form-actions d-none d-lg-flex justify-content-end">

            <div class="form-actions d-none d-lg-flex justify-content-end">
                <%= f.button :submit, "Modifier mon profil", :class => "btn btn-primary" %>
            </div>

            <div class="form-actions d-block d-lg-none">
                <%= f.button :submit, "Modifier mon profil", :class => "btn btn-primary btn-block" %>
            </div>

        </div>

    <% end %>

  </div>

</div>