<div class="container-fluid m-0 p-0 offers-index-layout">
    <div class="filters-bar d-none d-md-block">
        <h5>Recherche</h5>
        <hr class="mt-1">
        <div class="my-2">
            <%= simple_form_for :q, url: offers_path, method: :get, wrapper: :inline_form, html: { class: "form" } do |f| %>
                <div class="my-2">
                    <h6><i class="fas fa-map-marker-alt"></i> Localisation</h6>
                    <%= f.input :location, hint: "Ville ou adresse", input_html: { name: "location", class: "js-navbarAddressSearch", value: "" } %>
                </div>
                <div class="my-2">
                    <h6><i class="fas fa-route"></i> Distance</h6>
                    <%= f.input :distance, hint: "En kilomètres", input_html: { name: "distance", value: "", class: "" } %>
                </div>
                <div class="my-3">
                <%= f.button :submit, "Rechercher", name: nil, class: "btn btn-primary btn-block" %>
                </div>
            <% end %>
        </div>
        <h5>Filtres</h5>
        <hr class="mt-1">
        <div class="my-2">
            <div class="my-2">
                <h6><i class="far fa-newspaper"></i> Type d'annonce</h6>
                <select class="form-control" placeholder="Type d'annonce">
                    <option>Remplacement</option>
                    <option>Assistanat</option>
                    <option>Collaboration</option>
                </select>
            </div>
            <div class="my-2">
                <h6><i class="far fa-calendar-alt"></i> À partir du</h6>
                <input type="date" class="form-control" placeholder="jj / mm / aaaa" aria-label="Date de début" aria-describedby="basic-addon2">
            </div>
            <div class="my-2">
                <h6><i class="far fa-calendar-alt"></i> Jusqu'au</h6>
                <input type="date" class="form-control" placeholder="jj / mm / aaaa" aria-label="Date de fin" aria-describedby="basic-addon2">
            </div>
        </div>
    </div>

    <main class="cards-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white d-block d-md-none mb-3 mt-2 p-0">
            <button class="btn btn-light btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                Recherche
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav p-2">
                    <%= simple_form_for :q, url: offers_path, method: :get, wrapper: :inline_form, html: { class: "form mb-2" } do |f| %>
                        <div class="my-2">
                            <h6><i class="fas fa-map-marker-alt"></i> Localisation</h6>
                            <%= f.input :location, hint: "Ville ou adresse", input_html: { name: "location", class: "js-navbarAddressSearch", value: "" } %>
                        </div>
                        <div class="my-2">
                            <h6><i class="fas fa-route"></i> Distance</h6>
                            <%= f.input :distance, hint: "En kilomètres", input_html: { name: "distance", value: "", class: "" } %>
                        </div>
                        <div class="my-3">
                        <%= f.button :submit, "Rechercher", name: nil, class: "btn btn-primary btn-block" %>
                        </div>
                    <% end %>
                </ul>
            </div>
        </nav>
        <h3><%= @offers.length %> <%= @offers.length > 1 ? "annonces disponibles" : "annonce disponible" %></h3>
        <hr>
        <div class="row mx-0">
            <% @offers.each do |offer| %>
                <%= link_to offer_path(offer), :action => 'go', :class => "offer-card col-12 d-inline-flex" do %>

                    <div class="offer-card-avatar mr-2">
                    <% if offer.user.avatar_id.present? %>
                        <%= cl_image_tag offer.user.avatar_id, height: 48, width: 48, crop: :thumb, gravity: :face, class: "avatar" %>
                    <% elsif offer.user.title == 0 %>
                        <%= image_tag "avatars/doctor_f", class: "avatar" %>
                    <% else %>
                        <%= image_tag "avatars/doctor_m", class: "avatar" %>
                    <% end %>
                    </div>

                    <div class="ml-2 w-100">

                        <h5 class="offer-card-title">
                            <%= offer.title %>
                        </h5>

                        <h6>
                            <span class="badge badge-warning">
                                <i class="fas fa-exclamation-circle"></i> Urgent
                            </span>
                            <span class="badge badge-light">
                                <i class="fas fa-file-contract"></i> <%= offer.offer_type %>
                            </span>
                            <% if offer.ends_at != nil %>
                                <span class="badge badge-light">
                                    <i class="far fa-calendar-alt"></i> du <%= l offer.starts_at, format: :default %> au <%= l offer.ends_at, format: :default %>
                                </span>
                            <% else %>
                                <span class="badge badge-light">
                                    <i class="far fa-calendar-alt"></i> à partir du <%= l offer.starts_at, format: :default %>
                                </span>
                            <% end %>
                            <span class="badge badge-light">
                                <i class="fas fa-map-marker-alt"></i> <%= offer.offer_city_address %>
                            </span>
                        </h6>

                        <!-- <hr class="my-2">

                        <div class="offer-card-description text-muted">
                            <%= offer.description.truncate_words(25) %>
                        </div>
                        <span class="offer-card-bottom">
                            <% if offer.created_at.to_date == Date.today  %>
                            Postée aujourd'hui
                            <% elsif offer.created_at.to_date == Date.today %>
                            Postée hier
                            <% else %>
                            Postée le <%= l offer.created_at.to_date, format: :long %>
                            <% end %>
                        </span> -->

                    </div>

                <% end %>
            <% end %>


        </div>
    </main>

    <div id="map" class="map d-none d-xl-block" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>