<div class="container-fluid m-0 p-0 offers-index-layout">
    <div class="filters-bar d-none d-md-block">
        <h5>Recherche</h5>
        <hr class="mt-1">
        <div class="my-2">
            <%= simple_form_for :q, url: offers_path, method: :get, wrapper: :inline_form, html: { class: "form" } do |f| %>
                <div class="my-2">
                    <h6><i class="fas fa-map-marker-alt"></i> Localisation</h6>
                    <%= f.input :location, hint: "Ville ou adresse", input_html: { name: "location", class: "js-autoCitySearch", value: "#{params[:location]}" } %>
                </div>
                <div class="my-2">
                    <h6><i class="fas fa-route"></i> Distance</h6>
                    <%= f.input :distance, hint: "En kilomètres", input_html: { name: "distance", value: "#{params[:distance]}", class: "" } %>
                </div>
                <div class="my-3">
                    <h6><i class="far fa-newspaper"></i> Type d'annonce</h6>
                    <%= f.input :type, collection: Offer.offer_types, selected: params[:type], input_html: { name: "type", class: "custom-select" } %>
                </div>
                <div class="my-3">
                    <h6><i class="far fa-calendar-alt"></i> À partir du</h6>
                    <%= f.input :begins, as: :date, label: false, html5: true, input_html: { name: "begins", value: "#{params[:begins]}", class: "mx-0" } %>
                </div>
                <div class="my-3">
                    <h6><i class="far fa-calendar-alt"></i> Jusqu'au</h6>
                    <%= f.input :ends, as: :date, label: false, html5: true, input_html: { name: "ends", value: "#{params[:ends]}", class: "mx-0" } %>
                </div>
                <div class="my-3">
                <%= f.button :submit, "Rechercher", name: nil, class: "btn btn-primary btn-block" %>
                </div>
            <% end %>
        </div>
    </div>

    <main class="cards-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white d-block d-md-none mb-3 mt-2 p-0">
            <button class="btn btn-light btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                Recherche
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav p-2">
                    <%= simple_form_for :q, url: offers_path, method: :get, wrapper: :inline_form, html: { class: "form mb-2" } do |f| %>
                        <div class="my-2">
                            <h6><i class="fas fa-map-marker-alt"></i> Localisation</h6>
                            <%= f.input :location, hint: "Ville ou adresse", input_html: { name: "location", class: "js-autoCitySearch", value: "" } %>
                        </div>
                        <div class="my-2">
                            <h6><i class="fas fa-route"></i> Distance</h6>
                            <%= f.input :distance, hint: "En kilomètres", input_html: { name: "distance", value: "", class: "" } %>
                        </div>
                        <div class="my-3">
                        <%= f.button :submit, "Rechercher", name: nil, class: "btn btn-primary btn-block" %>
                        </div>
                    <% end %>
                </ul>
            </div>
        </nav>
        <h3><%= @offers.length + @premium_offers.length %> <%= @offers.length + @premium_offers.length > 1 ? "annonces disponibles" : "annonce disponible" %></h3>
        <hr>
        <div class="row mx-0">

            <% @premium_offers.each do |offer| %>
                <%= render 'offers/partials/index_card', offer: offer %>
            <% end %>
            <% @offers.each do |offer| %>
                <%= render 'offers/partials/index_card', offer: offer %>
            <% end %>

        </div>
    </main>

    <div id="map" class="map d-none d-xl-block" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>