<div class="container-fluid m-0 p-0 offers-index-layout">

    <main class="cards-container">

        <%= simple_form_for :q, url: offers_path, method: :get, wrapper: :inline_form, html: { class: "js-offersFiltersForm" } do |f| %>
        
            <div class="form-row p-2 mb-3">
                <div class="col-12 col-md-4 col-xl-5 mb-2 mb-md-0">
                    <%= f.input :profession, collection: {"" => ""}.merge(PROFESSIONS), selected: params[:profession], input_html: { name: "profession", class: "js-select2Searchable", data: { placeholder: "Selectionner une profession" } }, label_method: :second, value_method: :first %>
                </div>
                <div class="col-12 col-md-4 col-xl-5 mb-2 mb-md-0">
                    <%= f.input :location, input_html: { name: "location", class: "js-autoCitySearch form-control mr-2", placeholder: "Ville", value: "#{params[:location]}" } %>
                </div>
                <div class="col-6 col-md-2 d-xl-none">
                    <%= f.button :submit, "Rechercher", name: nil, class: "btn btn-primary btn-block" %>
                </div>
                <div class="col-6 col-md-2 d-xl-none">
                    <div class="btn btn-light btn-block" data-toggle="modal" data-target="#offersFiltersModal">
                        Filtrer
                    </div>
                </div>
                <div class="col-1 d-none d-xl-block">
                    <%= button_tag(type: 'submit', class: "btn btn-primary btn-block") do %>
                        <i class="fas fa-search"></i>
                    <% end %>
                </div>
                <div class="col-1 d-none d-xl-block">
                    <div class="btn btn-light btn-block" data-toggle="modal" data-target="#offersFiltersModal">
                        <i class="fas fa-sliders-h"></i>
                    </div>
                </div>
            </div>
        
            <div class="modal fade" id="offersFiltersModal" tabindex="-1" role="dialog" aria-labelledby="offersFiltersModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="offersFiltersModalLabel"><i class="fas fa-sliders-h"></i> Filtres</h5>
                            <div class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <%= f.label :distance, "Périmètre de recherche" %>
                                <%= f.input :distance, hint: "En kilomètres", label: "Périmètre de recherche", input_html: { name: "distance", value: "#{params[:distance]}" } %>
                            </div>
                            <div class="form-group">
                                <%= f.label :contract_type, "Type d'annonce" %>
                                <%= f.input :contract_type, collection: {"" => ""}.merge(OFFERS["offer_types"]), selected: params[:contract_type], input_html: { name: "contract_type", class: "js-select2Searchable js-select2ContractType", data: { placeholder: "Selectionner un type d'offre" } }, label_method: :second, value_method: :second %>
                            </div>
                            <div class="form-group">
                                <%= f.label :begins, "A partir du" %>
                                <%= f.input :begins, as: :date, label: false, html5: true, input_html: { name: "begins", value: "#{params[:begins]}" } %>
                            </div>
                            <div class="form-group">
                                <%= f.label :ends, "Jusqu'au" %>
                                <%= f.input :ends, as: :date, label: false, html5: true, input_html: { name: "ends", value: "#{params[:ends]}" } %>
                            </div>
                        </div>
                        <div class="modal-footer d-flex flex-column">
                            <%= f.button :submit, "Afficher les résultats", name: nil, class: "btn btn-primary btn-block" %>
                            <div class="btn btn-link btn-block mx-0 js-resetOffersFiltersFormBtn">
                                Réinitialiser les filtres
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <% end %>

        <div class="h5"><%= @offers.length %> <%= @offers.length > 1 ? "annonces disponibles" : "annonce disponible" %></div>
        <hr>

        <div id="offersList" class="mx-0">

            <% @offers.each do |offer| %>
                <%= render 'offers/partials/offer_card', offer: offer %>
            <% end %>

        </div>
        
    </main>

    <div id="map" class="map d-none d-xl-block" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>