<div class="container my-4">
    <% if @offer.type == "Replacement" %>
        <%= render 'offers/forms/replacement_offer', offer: @offer %>
    <% elsif @offer.type == "Employment" %>
        <%= render 'offers/forms/employment_offer', offer: @offer %>
    <% elsif @offer.type == "Collaboration" %>
        <%= render 'offers/forms/collaboration_offer', offer: @offer %>
    <% elsif @offer.type == "Association" %>
        <%= render 'offers/forms/association_offer', offer: @offer %>
    <% elsif @offer.type == "Establishment" %>
        <%= render 'offers/forms/establishment_offer', offer: @offer %>
    <% end %>
</div>