<div class="container my-4">
    <h2>Publier une annonce</h2>
    <div class="row">
        <div class="col-12">
            <%= simple_form_for @offer, url: offers_path do |f| %>

                <%= f.error_notification %>

                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="far fa-newspaper"></i> Votre annonce</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-8">
                        <%= f.input :title %>
                        <% if current_user.user_type == "health_facility" %>
                            <%= f.input :profession, collection: PROFESSIONS, input_html: { class: "custom-select" }, label_method: :second, value_method: :first, required: true %>
                        <% end %>

                        <%= f.input :offer_type, collection: OFFER_TYPES, prompt: "Selectionner un type d'offre", input_html: { class: "custom-select" }, label_method: :second, value_method: :first %>
                        <div class="row form-row">
                            <div class="col-xs-12 col-md-6">
                                <%= f.input :starts_at, as: :date, html5: true, required: true %>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <%= f.input :ends_at, as: :date, html5: true %>
                            </div>
                        </div>

                        <%= f.input :retrocession, hint: true %>

                        <%= f.input :description %>
                    </div>

                </div>
                
                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="far fa-hospital"></i> Etablissement et localisation</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="alert alert-primary">
                            <div class="h6 alert-heading mt-1"><i class="far fa-lightbulb"></i> Bon à savoir</div>
                            <hr class="my-2">
                            <p>Remplissez vos coordonnées professionnelles dans votre profil afin de ne pas avoir à renseigner ces champs à chaque dépôt d'annonce. 😉</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-8">

                        <%= f.input :facility_name, required: true %>

                        <%= f.input :facility_type, collection: FACILITY_TYPES, input_html: { class: "custom-select" }, label_method: :second, value_method: :first, required: true %>

                        <%= f.input :facility_description, required: true %>

                        <%= f.input :street %>

                        <%= f.input :additional_address %>

                        <%= f.input :department %>
                        <div class="row form-row">
                            <div class="col-xs-12 col-md-4">
                                <%= f.input :zipcode %>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <%= f.input :city %>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="fas fa-info-circle"></i> Informations complémentaires</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-8">
                        <%= f.input :vehicle, hint: true, input_html: { class: "custom-switch" } %>

                        <%= f.input :home_visiting, input_html: { class: "custom-switch" } %>

                        <%= f.input :medical_institution_visiting, input_html: { class: "custom-switch" } %>

                        <%= f.input :housing, hint: true, input_html: { class: "custom-switch" } %>

                        <%= f.input :secretariat, hint: true, input_html: { class: "custom-switch" } %>
                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col-12">
                        <legend class="h5"><i class="fas fa-certificate"></i> Options</legend>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-8">
                        <%= f.input :urgent, hint: true %>

                        <%= f.input :premium, hint: true %>
                    </div>

                </div>

                <div class="form-actions d-none d-lg-flex justify-content-end">
                    <%= f.button :submit, "Publier mon annonce", :class => "btn btn-primary" %>
                </div>

                <div class="form-actions d-block d-lg-none">
                    <%= f.button :submit, "Publier mon annonce", :class => "btn btn-primary btn-block btn-lg" %>
                </div>

            <% end %>
        </div>

    </div>
</div>