<div class="container offer-show mb-3 mt-5">

    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="h2 text-center"><%= OFFERS["offer_types"][@offer.contract_type] %></h1>
        <div class="d-flex flex-wrap justify-content-center text-secondary">
            <div class="mr-2 ">
                <i class="fas fa-user-md mr-1"></i><%= @offer.profession %>
            </div>
            <div class="mr-2  fw600">
                •
            </div>
            <div class="mr-2 ">
                <i class="fas fa-map-marker-alt mr-1"></i><%= @offer.city %> (<%= @offer.zipcode.slice(0,2) %>)
            </div>
            <div class="mr-2  fw600">
                •
            </div>
            <div class="">
                <i class="far fa-clock"></i> Postée <span class="js-sinceDuration"><%= @offer.created_at.strftime("%FT%T") %></span>
            </div>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
            <% if current_user %>
                <% if current_user.offer_applications.find_by applicable_id: "#{@offer.id}" %>
                    <div class="alert alert-primary mt-3 mb-0" role="alert">
                        Vous avez postulé à cette annonce le <%= l (current_user.offer_applications.find_by applicable_id: "#{@offer.id}").created_at.to_date, format: :long %>.
                    </div>
                <% elsif current_user != @offer.user && current_user.profile.profession == @offer.profession %>
                    <button type="button" class="btn btn-primary mt-3 mb-0" data-toggle="modal" data-target="#createOfferApplicationModal">Postuler</button>
                    <%= render 'partials/offer_application/create_offer_application_modal', offer: @offer, offer_application: @offer_application %>
                <% elsif current_user == @offer.user %>
                    <div class="alert alert-warning mt-3 mb-0" role="alert">
                        Vous ne pouvez pas postuler à votre propre annonce.
                    </div>
                <% else %>
                    <div class="alert alert-warning mt-3 mb-0" role="alert">
                        Vous ne pouvez pas postuler à cette annonce car vous n'êtes pas <%= @offer.profession.downcase %>.
                    </div>
                <% end %>
            <% else %>
                <%= link_to 'Connectez-vous pour postuler', new_user_session_path, class: "btn btn-primary mt-3 mb-0" %>
            <% end %>
        </div>

    </div>

    <div class="row my-4">

        <div class="col-xs-12 col-lg-4">
            <h2 class="h5"><span class="text-primary">-</span> Informations</h2>
            <hr>
            <div class="offer-data">

                <% if @offer.type != "Establishment" %>
                    <div class="m-3">
                        <h3 class="h6">Offre</h3>

                        <div class="row">

                            <% if !@offer.starts_at.blank? %>
                                <% if !@offer.ends_at.blank? %>
                                    <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                        <div class="d-flex align-items-center my-1">
                                            <div class="offer-data-icon">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                            <div class="offer-data-content">
                                                <div class="offer-data-content-label">Du</div>
                                                <div class="offer-data-content-value"><%= l @offer.starts_at, format: :default %></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                        <div class="d-flex align-items-center my-1">
                                            <div class="offer-data-icon">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                            <div class="offer-data-content">
                                                <div class="offer-data-content-label">Au</div>
                                                <div class="offer-data-content-value"><%= l @offer.ends_at, format: :default %></div>
                                            </div>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                        <div class="d-flex align-items-center my-1">
                                            <div class="offer-data-icon">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                            <div class="offer-data-content">
                                                <div class="offer-data-content-label">À partir du</div>
                                                <div class="offer-data-content-value"><%= l @offer.starts_at, format: :default %></div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>

                            <% if !@offer.retrocession.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-percent"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Rétrocession</div>
                                            <div class="offer-data-content-value"><%= @offer.retrocession %> / <%= 100 - @offer.retrocession.to_i %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end  %>

                            <% if !@offer.has_salary_set.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-wallet"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Salaire</div>
                                            <% if @offer.has_salary_set? %>
                                                <div class="offer-data-content-value"><%= @offer.salary %>€ <%= OFFERS["salary_periods"][@offer.salary_period] %></div>
                                            <% else %>
                                                <div class="offer-data-content-value">À négocier</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.working_time.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-business-time"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Temps de travail</div>
                                            <div class="offer-data-content-value"><%= OFFERS["working_times"][@offer.working_time] %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end  %>

                            <% if !@offer.candidate_job_experience.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-graduation-cap"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Expérience</div>
                                            <div class="offer-data-content-value"><%= OFFERS["candidate_job_experiences"][@offer.candidate_job_experience] %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.has_selling_price_set.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-euro-sign"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Prix de vente de la patientèle</div>
                                            <% if @offer.has_selling_price_set? %>
                                                <div class="offer-data-content-value"><%= @offer.selling_price %> €</div>
                                            <% else %>
                                                <div class="offer-data-content-value">À négocier</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.revenues.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-coins"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Chiffre d'affaire annuel</div>
                                            <div class="offer-data-content-value"><%= @offer.revenues %> €</div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            
                            <% if !@offer.vehicle_required.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-car"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Véhicule</div>
                                            <% if @offer.vehicle_required == true %>
                                                <div class="offer-data-content-value">Requis</div>
                                            <% else @offer.vehicle_required == false %>
                                                <div class="offer-data-content-value">Non requis</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.visit.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-route"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Déplacements</div>
                                            <div class="offer-data-content-value"><%= OFFERS["visits_options"][@offer.visit] %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.daily_medical_acts_number.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-user-injured"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Nombre d'actes journaliers</div>
                                            <div class="offer-data-content-value"><%= @offer.daily_medical_acts_number %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.on_call.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Gardes</div>
                                            <% if @offer.on_call == true %>
                                                <div class="offer-data-content-value">Oui</div>
                                            <% elsif @offer.on_call == false %>
                                                <div class="offer-data-content-value">Non</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                        </div>

                    </div>
                <% end %>

                <% if @offer.type == "PatientTransfer" || @offer.type == "Establishment" %>
                    <div class="m-3">
                        <h3 class="h6">Local</h3>

                        <div class="row">

                            <% if !@offer.premises_availability.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-tag"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Disponibilité du local</div>
                                            <div class="offer-data-content-value"><%= OFFERS["premises_availabilities"][@offer.premises_availability] %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.premises_rent.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-euro-sign"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Loyer</div>
                                            <div class="offer-data-content-value"><%= @offer.premises_rent %> € par mois</div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.premises_price.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-euro-sign"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Prix de vente du local</div>
                                            <div class="offer-data-content-value"><%= @offer.premises_price %> €</div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.premises_size.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Surface</div>
                                            <div class="offer-data-content-value"><%= @offer.premises_size %> m²</div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.premises_rooms_number.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-th-large"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Nombre de pièces</div>
                                            <div class="offer-data-content-value"><%= @offer.premises_rooms_number %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.premises_furnished.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-couch"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Meublé / Équipé</div>
                                            <% if @offer.premises_furnished == true %>
                                                <div class="offer-data-content-value">Oui</div>
                                            <% else @offer.premises_furnished == false %>
                                                <div class="offer-data-content-value">Non</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.premises_has_parking.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-parking"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Parking</div>
                                            <% if @offer.premises_has_parking == true %>
                                                <div class="offer-data-content-value">Oui</div>
                                            <% else @offer.premises_has_parking == false %>
                                                <div class="offer-data-content-value">Non</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.accessible_premises.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fab fa-accessible-icon"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Respect des normes d'accessibilité</div>
                                            <% if @offer.accessible_premises == true %>
                                                <div class="offer-data-content-value">Oui</div>
                                            <% else @offer.accessible_premises == false %>
                                                <div class="offer-data-content-value">Non</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                        </div>
                    </div>
                <% end %>

                <% if @offer.type != "Establishment" %>
                    <div class="m-3">
                        <h3 class="h6">Établissement</h3>

                        <div class="row">

                            <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                <div class="d-flex align-items-center my-1">
                                    <div class="offer-data-icon">
                                        <i class="far fa-plus-square"></i>
                                    </div>
                                    <div class="offer-data-content">
                                        <div class="offer-data-content-label">Raison sociale</div>
                                        <div class="offer-data-content-value"><%= @offer.user.facility.name %></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                <div class="d-flex align-items-center my-1">
                                    <div class="offer-data-icon">
                                        <i class="fas fa-clinic-medical"></i>
                                    </div>
                                    <div class="offer-data-content">
                                        <div class="offer-data-content-label">Type d'établissement</div>
                                        <div class="offer-data-content-value"><%= @offer.user.facility.category %></div>
                                    </div>
                                </div>
                            </div>

                            <% if !@offer.sector.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-plus-square"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Secteur</div>
                                            <div class="offer-data-content-value"><%= OFFERS["sectors"][@offer.sector] %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.secretariat.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Secrétariat</div>
                                            <div class="offer-data-content-value"><%= OFFERS["secretariat_options"][@offer.secretariat] %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.software_used.blank? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-laptop-medical"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Logiciel(s) utilisé(s)</div>
                                            <div class="offer-data-content-value"><%= @offer.software_used %></div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <% if !@offer.housing_possibility.nil? %>
                                <div class="col-12 col-md-4 col-lg-12 align-self-center">
                                    <div class="d-flex align-items-center my-1">
                                        <div class="offer-data-icon">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div class="offer-data-content">
                                            <div class="offer-data-content-label">Logement</div>
                                            <% if @offer.housing_possibility == true %>
                                                <div class="offer-data-content-value">Oui</div>
                                            <% elsif @offer.housing_possibility == false %>
                                                <div class="offer-data-content-value">Non</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                        </div>
                    </div>
                <% end %>

            </div>
        </div>

        <div class="col-xs-12 col-lg-8 mt-4 mt-lg-0">

            <h2 class="h5"><span class="text-primary">-</span> Description</h2>
            <hr>
            <div class="mt-2 mt-md-3 mb-4">
                <%=simple_format h @offer.description %>
            </div>

            <% if !@offer.candidate_description.blank? %>
            <h2 class="h5"><span class="text-primary">-</span> Profil recherché</h2>
            <hr>
            <div class="mt-2 mt-md-3 mb-4">
                <%=simple_format h @offer.candidate_description %>
            </div>
            <% end %>

            <h2 class="h5"><span class="text-primary">-</span> Établissement et environnement</h2>
            <hr>
            <div class="mt-2 mt-md-3 mb-4">
                <%=simple_format h @offer.user.facility.description %>
            </div>

            <% if !@offer.premises_equipment.blank? %>
            <h2 class="h5"><span class="text-primary">-</span> Équipement(s) présent(s)</h2>
            <hr>
            <div class="mt-2 mt-md-3 mb-4">
                <%=simple_format h @offer.premises_equipment %>
            </div>
            <% end %>

            <% if @offer.user.facility.photos.attached? %>
                <h2 class="h5"><span class="text-primary">-</span> Photo(s) de l'établissement</h2>
                <hr>
                <div id="facilityImagesCarouselControls" class="mt-2 mt-md-3 mb-4 carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner offer-carousel">
                    <% @offer.user.facility.photos.each_with_index do |photo, index| %>
                        <div class="carousel-item text-center <%= "active" if @offer.user.facility.photos.first == photo %>">
                            <%= cl_image_tag photo.key, class: "d-block w-100", alt: ["first slide", "second slide", "third slide"][index] %>
                        </div>
                    <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#facilityImagesCarouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#facilityImagesCarouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</div>