<div class="container my-5">
  <h1 class="text-center">Réinitialiser mon mot de passe</h1>
  <p class="text-center text-secondary">Saisissez votre nouveau mot de passe.</p>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="custom-card">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <% if resource.errors[:reset_password_token].present? %> 
          <div class="alert alert-danger">
            Votre demande de réinitialisation de mot de passe a expirée. Veuillez suivre le lien dans l'email qui vous a été envoyé ou <%= link_to "faites une nouvelle demande de réinitialisation", new_user_password_path, class: "alert-link" %>.
          </div>
        <% else %>
          <%= f.error_notification %>
        <% end %>

        <div class="form-inputs">
          <%= f.input :password, label: "Nouveau mot de passe", required: true, autofocus: true, hint: ("#{@minimum_password_length} caractères au minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: "Confirmez votre nouveau mot de passe", required: true, input_html: { autocomplete: "new-password" } %>
          <%= f.input :reset_password_token, as: :hidden, error: false %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Enregistrer mon nouveau mot de passe", :class => "btn btn-primary btn-block" %>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>
