<%= link_to offer_path(offer), :action => 'go', :class => "offer-card d-flex flex-column flex-wrap" do %>
    <div class="offer-card-badges d-block d-md-none mb-2">
        <% if current_page?(controller: 'offers', action: 'index') %>
            <% if offer.created_at.to_date == Date.today  %>
                <span class="badge badge-info-alt mr-1">
                    Nouveau
                </span>
            <% end %>
            <% if offer.offer_type == "premium" %>
                <span class="badge badge-warning-alt">
                    Premium
                </span>
            <% end %>
        <% end %>
    </div>
    <div class="offer-card-top d-flex align-items-start justify-content-between flex-wrap">
        <div class="offer-card-title h4">
            <%= OFFERS["offer_types"][offer.contract_type] %>
        </div>
        <% if current_page?(controller: 'offers', action: 'index') %>
        <div class="offer-card-badges d-none d-md-block">
            <% if offer.created_at.to_date == Date.today  %>
            <span class="badge badge-info-alt">
                <i class="fas fa-fire"></i> Nouveau
            </span>
            <% end %>
            <% if offer.offer_type == "premium" %>
            <span class="badge badge-warning-alt ml-1">
                <i class="fas fa-crown"></i> Premium
            </span>
            <% end %>
        </div>
        <% end %>
    </div>

    <div class="d-flex flex-wrap small text-secondary mt-1">
        <div class="mr-2 mt-1">
            <i class="fas fa-user-md mr-1"></i><%= offer.profession %>
        </div>
        <div class="mr-2 mt-1 fw600">
            •
        </div>
        <div class="mr-2 mt-1">
            <i class="fas fa-map-marker-alt mr-1"></i><%= offer.city %> (<%= offer.zipcode.slice(0,2) %>)
        </div>
        <div class="mr-2 mt-1 fw600">
            •
        </div>
        <div class="mt-1">
            <i class="far fa-clock"></i> Postée <span class="js-sinceDuration"><%= offer.created_at.strftime("%FT%T") %></span>
        </div>
    </div>

    <div class="offer-card-info d-flex flex-wrap mt-2">

        <% if !offer.starts_at.nil? %>
            <% if !offer.ends_at.nil? %>
                <div class="badge badge-primary-alt badge-big fw600 m-1"><i class="far fa-calendar-alt mr-1"></i>du <%= l offer.starts_at, format: :default %> au <%= l offer.ends_at, format: :default %></div>
            <% else %>
                <div class="badge badge-primary-alt badge-big fw600 m-1"><i class="far fa-calendar-alt mr-1"></i>à partir du <%= l offer.starts_at, format: :default %></div>
            <% end %>
        <% end %>

        <% if !offer.retrocession.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-percent mr-1"></i><%= offer.retrocession %> / <%= 100 - offer.retrocession.to_i %>
            </div>
        <% end %>

        <% if !offer.has_salary_set.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.has_salary_set? %>
                    <i class="fas fa-wallet mr-1"></i><%= offer.salary %>€ <%= OFFERS["salary_periods"][offer.salary_period] %>
                <% else %>
                    <i class="fas fa-wallet mr-1"></i>À négocier
                <% end %>
            </div>
        <% end %>

        <% if !offer.has_selling_price_set.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.has_selling_price_set? %>
                    <i class="fas fa-euro-sign mr-1"></i><%= offer.selling_price %>€ %>
                <% else %>
                    <i class="fas fa-euro-sign mr-1"></i>À négocier
                <% end %>
            </div>
        <% end %>

        <% if offer.type == "Establishment" %>
            <% if offer.cession_local? %>
                <div class="badge badge-primary-alt badge-big fw600 m-1">
                    <i class="fas fa-euro-sign mr-1"></i><%= offer.premises_price %>€
                </div>
            <% end %>

            <% if offer.location_local? %>
                <div class="badge badge-primary-alt badge-big fw600 m-1">
                    <i class="fas fa-euro-sign mr-1"></i><%= offer.premises_rent %>€ par mois
                </div>
            <% end %>
        <% end %>

        <% if !offer.working_time.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-business-time mr-1"></i><%= OFFERS["working_times"][offer.working_time] %>
            </div>
        <% end %>

        <% if !offer.candidate_job_experience.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-graduation-cap mr-1"></i><%= OFFERS["candidate_job_experiences"][offer.candidate_job_experience] %>
            </div>
        <% end %>

        <% if !offer.revenues.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-coins mr-1"></i><%= offer.revenues %>€ par an
            </div>
        <% end %>

        <% if !offer.premises_availability.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-clinic-medical mr-1"></i><%= OFFERS["premises_availabilities"][offer.premises_availability] %>
            </div>
            <% if offer.rental? %>
                <div class="badge badge-primary-alt badge-big fw600 m-1">
                    <i class="fas fa-tag mr-1"></i><%= offer.premises_rent %>€ par mois
                </div>
            <% elsif offer.sale? %>
                <div class="badge badge-primary-alt badge-big fw600 m-1">
                    <i class="fas fa-tag mr-1"></i><%= offer.premises_price %> €
                </div>
            <% end %>
        <% end %>

        <% if !offer.premises_size.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="far fa-square mr-1"></i><%= offer.premises_size %> m²
            </div>
        <% end %>

        <% if !offer.premises_rooms_number.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-th-large mr-1"></i><%= offer.premises_rooms_number %> pièce(s)
            </div>
        <% end %>

        <% if !offer.premises_furnished.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.premises_furnished? %>
                    <i class="fas fa-couch mr-1"></i>Meublé
                <% else %>
                    <i class="fas fa-couch mr-1"></i>Non meublé
                <% end %>
            </div>
        <% end %>

        <% if !offer.premises_has_parking.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.premises_has_parking? %>
                    <i class="fas fa-parking mr-1"></i>Parking présent
                <% else %>
                    <i class="fas fa-parking mr-1"></i>Sans parking
                <% end %>
            </div>
        <% end %>

        <% if !offer.accessible_premises.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.accessible_premises? %>
                    <i class="fas fa-wheelchair mr-1"></i>Aux normes
                <% else %>
                    <i class="fas fa-wheelchair mr-1"></i>Pas aux normes
                <% end %>
            </div>
        <% end %>

        <% if !offer.daily_medical_acts_number.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-user-injured mr-1"></i><%= offer.daily_medical_acts_number %> actes par jour
            </div>
        <% end %>

        <% if !offer.on_call.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.on_call? %>
                    <i class="far fa-clock mr-1"></i>Gardes
                <% else %>
                    <i class="far fa-clock mr-1"></i>Aucune garde
                <% end %>
            </div>
        <% end %>

        <% if !offer.vehicle_required.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.vehicle_required? %>
                    <i class="fas fa-car mr-1"></i>Requis
                <% else %>
                    <i class="fas fa-car mr-1"></i>Non requis
                <% end %>
            </div>
        <% end %>

        <% if !offer.visit.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-route mr-1"></i><%= OFFERS["visits_options"][offer.visit] %>
            </div>
        <% end %>

        <% if !offer.sector.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-plus-square mr-1"></i><%= OFFERS["sectors"][offer.sector] %>
            </div>
        <% end %>

        <% if !offer.secretariat.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-phone mr-1"></i><%= OFFERS["secretariat_options"][offer.secretariat] %>
            </div>
        <% end %>

        <% if !offer.software_used.blank? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <i class="fas fa-laptop-medical mr-1"></i><%= offer.software_used %>
            </div>
        <% end %>

        <% if !offer.housing_possibility.nil? %>
            <div class="badge badge-primary-alt badge-big fw600 m-1">
                <% if offer.housing_possibility? %>
                    <i class="fas fa-bed mr-1"></i>Logement possible
                <% else %>
                    <i class="fas fa-bed mr-1"></i>Pas de logement
                <% end %>
            </div>
        <% end %>

    </div>
<% end %>